body{
	width: 100%;
	height: 300px;
}
.body{
	width: 90%;
	height: 200px;
	margin: auto;
	margin-top: 15%;
}
#buscador{
	width: 50%;
	margin: auto;
	padding-top: 70px;
}

body form{
	margin-top: -50px;
}
.img-icon{
	text-align: center;
}
.search{
	width: 50%;
	height: 40px;
	margin: auto;
}